{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>About Adrian L Flanagan</title>

    <!-- Bootstrap -->
    <link href="{% static 'adrian_l_flanagan/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'adrian_l_flanagan/css/bootstrap-theme.min.css' %}" rel="stylesheet">

    <link href="{% static 'adrian_l_flanagan/css/site.css'%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div class="container-fluid">
  <div id="sidebar" class="col-xs-3 col-md-2">
    <img src="{% static "images/my_gravatar_headshot.png"%}"/>
  </div>
  <div id="main" class="col-xs-15 col-md-10">
    <h1>Adrian L Flanagan</h1>
    <p>"Who am I? What am I doing here?"</p>
    <div class="footer">
    <a href="http://u.fsf.org/16e"><img src="//static.fsf.org/nosvn/images/badges/fsfs_icons_beige-bg.png" alt="Free Software, Free Society"></a>
    <a href="https://www.eff.org/join"><img src="https://www.eff.org/files/eff-banner.jpg" alt="Join EFF!" border="0"></a><br />
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "adrian_l_flanagan/js/bootstrap.min.js" %}"></script>
    </div>
  </body>
</html>

