#sidebar img {
    margin-top: 20px;
    width: 100%;
}
#sidebar h3 {
    color: rgba(47, 47, 47, 0.57);
    font-size: 14pt;
}
img.small-fsf {
    width: 12%;
}
.list-group-item {
    border: 0;
}

dl.list-sub-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
